	</div>
</div>

    <!-- ajax上传表单 -->
    <script src="__FORM__/jquery.form.min.js"></script>

    <script src="__BOOTSTRAP__/bootstrap.min.js"></script>

    <script src="__BOOTSTRAP__/jquery.metisMenu.js"></script>
    
    <script src="__BOOTSTRAP__/hplus.js"></script>

    <!-- Sweet alert -->
    <script src="__SWEETALERT__/sweetalert.min.js"></script>

    <!-- js -->
    <!-- 删除 -->
    <script src="__JS__/delete.js"></script>
    <!-- 选择框全选 -->
    <script src="__JS__/selectAll.js"></script>
   

    <!-- 表单判断 -->
    <script src="__VALIDATE__/jquery.validate.min.js"></script>
    <script src="__VALIDATE__/messages_zh.min.js"></script>
    <script src="__VALIDATE__/validate.js"></script>

</body>
</html>