        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="glyphicon glyphicon-align-justify"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message"><a href="__MODULE__/Index/index" title="后台页面"><i class="glyphicon glyphicon-cog"></i></a><a href="__ROOT__/index" target="_blank" title="返回首页"><i class="glyphicon glyphicon-home"></i></a>欢迎使用小倪博客后台</span>
                        </li>
                        
                        <li>
                            <a href="__MODULE__/Login/logout">
                                <i class="glyphicon glyphicon-log-out" title="退出"></i> 退出
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>