
<footer>
  <p>
  	Copyright © 2015 - 2016.Design by XiaoNi |

  	<a href="http://www.miitbeian.gov.cn/" target="_blank">闽ICP备16003520号-1</a>|

  	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257473295'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257473295' type='text/javascript'%3E%3C/script%3E"));
  	</script>

  </p>

</footer>
<!-- 百度自动推送 -->
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<script src="__JS__/silder.js"></script>
</body>
</html>