<include file='Public/lefter'/>

<include file='Public/righter-head'/>

<script src="__NAV__/system.js"></script>

    <div class="right-top">
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>当前位置：系统设置 &gt; <a href="__MODULE__/Manager/managerList">管理员列表</a> &gt; 修改管理员密码 &gt;&gt;&gt;
    </div><br/>

    <!-- 修改管理员页面 -->
    <div class="wrapper white-bg">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
    <form id="managerPwdFormUpdate">
        <table class="table table-hover">
            <input type='hidden' name='admin_id' value='{$info.admin_id}' />
            <tr>
                <th>帐号:</th>
                <td>
                    <input type="text" name="admin_account" value="{$info.admin_account}" class="form-control" disabled="disabled">
                </td>
            </tr>
            <tr>
                <th>新密码:</th>
                <td>
                    <input type="password" id="admin_pwd" name="admin_pwd" class="form-control">
                </td>
            </tr>
            <tr>
                <th>确认新密码:</th>
                <td><input type="password" name="admin_new_pwd" class="form-control"></td>
            </tr>
            <tr>
                <td colspan="2"  class="button-center">
                    <input type="submit" value="修改" class="btn btn-primary btn-lg">
                </td>
            </tr>
        </table>
    </form>
                </div>
            </div>
        </div>
    </div>

<include file='Public/righter-foot' />
