<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>小倪博客</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta property="qc:admins" content="409079c01e84322021fe17e6e1898472" />
  <meta name="keywords" content="倪时鸿,小倪,个人博客,小倪个人博客"/>
  <meta name="description" content="小倪个人博客,互相学习交流的个人原创网站。" />
  <meta name="author" content="倪时鸿"> 
  <link href="__CSS__/base.css" rel="stylesheet">
  <link href="__CSS__/logo.css" rel="stylesheet">


  <!-- ico图标 -->
  <link rel="shortcut icon" href="__IMG__/hehe.ico">
  <!-- js -->
  <script src="__JS__/jquery-2.1.1.min.js"></script>
  
  <!-- 兼容性问题 -->
  <!--[if lt IE 9]>
  <script src="__JS__/modernizr.js"></script>
  <![endif]-->

  <!-- 百度的 -->
  <meta name="baidu_union_verify" content="7dd17ffa873ffd44363a3242d042f087">
  
  <!-- qq登录 -->
  <meta property="qc:admins" content="205124367767641616375" />

  <!-- 百度的 -->
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?9fdcf5dbc6fde8467b40b2a108539bca";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>


</head>
<body>
<header>
  <div id="logo"><a href="__ROOT__/index"><img src="__IMG__/logo.png" class="ring-hover"/></a></div>
  <nav class="topnav" id="topnav">
    <a href="__ROOT__/index">
      <span>首页</span>
      <span class="en">Index</span>
    </a>
    <a href="__ROOT__/about">
      <span>关于我</span>
      <span class="en">About</span>
    </a>
    <a href="__ROOT__/article">
      <span>慢生活</span>
      <span class="en">Life</span>
    </a>
    <a href="__ROOT__/talk">
      <span>碎言碎语</span>
      <span class="en">Talk</span>
    </a>
    <a href="__ROOT__/photo">
      <span>相册</span>
      <span class="en">Photo</span>
    </a>
    <a href="__ROOT__/guestbook">
      <span>留言版</span>
      <span class="en">Guestbook</span>
    </a>

    <a href="__ROOT__/wish/wish">
      <span>许愿墙</span>
      <span class="en">Wish</span>
    </a>
  </nav>
</header>