<include file='Public/lefter'/>

<include file='Public/righter-head'/>

<script src="__NAV__/guestbook.js"></script>

	<div class="right-top">
		<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>当前位置：留言板 &gt; <a href="__MODULE__/Guestbook/guestbook">留言板</a> &gt; 回复留言  &gt;&gt;&gt;
	</div>

	<div class="form"></div>

	<div class="wrapper white-bg">
		<div class="row">
		    <div class="col-lg-12">
				<div class="table-responsive">
	<form id="guestbookFormReply">
		<table class="table table-hover">
			<input type='hidden' name='guestbook_id' value='{$info.guestbook_id}' />
			<tr>
				<th>昵称:</th>
				<td><input type="text" name="guestbook_name" class="form-control" value="{$info.guestbook_name}"></td>
				<th>留言时间:</th>
				<td><input type="text" class="form-control" value="{$info.guestbook_datetime|tranTime}" readonly="readonly"></td>
			</tr>
			<tr>
				<th>留言IP地址:</th>
				<td><input type="text" class="form-control" value="{$info.guestbook_address}" readonly="readonly"></td>
				<th>留言IP:</th>
				<td><input type="text" name="guestbook_ip" class="form-control" value="{$info.guestbook_ip}"></td>
			</tr>
			<tr>
				<th width="7%">留言发表端:</th>
				<td width="43%"><input type="text" name="guestbook_from" class="form-control" value="{$info.guestbook_from}"></td>
				<th width="7%">留言邮箱:</th>
				<td><input type="text" name="guestbook_email" class="form-control" value="{$info.guestbook_email}"></td>
			</tr>
			<tr>
				<th width="7%">留言主页:</th>
				<td width="43%"><input type="text" name="guestbook_url" class="form-control" value="{$info.guestbook_url}"></td>
				<th width="7%">邮件提醒:</th>
				<td width="43%" colspan="3">
					<label><input type="radio" name="if_remind" value="1"}/>是</label>
					&nbsp;&nbsp;
                    <label><input type="radio" name="if_remind" value="0" checked="checked"} />否</label>
                </td>
			</tr>
			<tr>
				<th width="7%">留言内容:</th>
				<td colspan="3"><textarea name="guestbook_content" class="form-control">{$info.guestbook_content}</textarea></td>
			</tr>
			<tr>
				<th width="7%">回复内容:</th>
				<td colspan="3"><textarea name="reply_content" class="form-control">{$info.reply_content}</textarea></td>
			</tr>
			<tr>
				<td colspan="4" class="button-center">
					<input type="submit" value="回复" class="btn btn-primary btn-lg">
				</td>
			</tr>
		</table>
	</form>
				</div>
			</div>
		</div>
	</div>

<include file='Public/righter-foot' />