/*@charset "utf-8";*/
/* CSS Document */
/*.aboutcon{ color:#696969;background: url(../images/aboutphoto.jpg) no-repeat right 360px;}*/
.aboutcon{background:url(../img/aboutphoto.jpg) no-repeat bottom right; color:#696969}
h1.t_nav { border-bottom: #F1F1F1 1px solid; font-size: 12px; font-weight: normal; line-height: 40px; height: 40px; }
h1.t_nav a{width: 100px; display: block; text-align: center ; color: #fff; float:left}
h1.t_nav span{float:right; color:#999}
.n1 { background: #5EA51B; }
.n2{ background: #8BBF5D; }
.book{ width:710px;overflow: hidden; background: url(../img/r_line.jpg) repeat-y right; line-height:22px; margin:20px auto;padding-right: 30px; }
.about_c{ padding:10px 0 0 10px; color:#999; line-height:26px;margin:20px auto  }
.about_c img{ margin:5px 0}
.about_c span{ color:#19A566}

/*分页*/
.page{ margin:20px 0 0 0; text-align:center; width:100%;overflow: hidden;}
.page a b {color: #999;}
.page>b,.page a {margin: 0 2px;height: 26px;line-height: 26px;border-radius: 50%;width: 26px;text-align: center;display: inline-block}
.page a {margin: 0 2px;height: 26px;line-height: 26px;border-radius: 50%;width: 26px;text-align: center;display: inline-block}/* 针对IE6 */
.page>b,.page a:hover{background: #333;color: #FFF;}
.page a {color: #F33;border: #999 1px solid;}
.page a.active {background: #333;color: #FFF;}