<include file='Public/lefter'/>

<include file='Public/righter-head'/>

	<div class="right-top">
		<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>当前位置：个人资料 &gt; <a href="__MODULE__/Personal/personal">个人信息</a> &gt; 修改信息 &gt;&gt;&gt;
	</div>
	
	<div class="form"></div>

	<div class="wrapper white-bg">
		<div class="row">
		    <div class="col-lg-12">
				<div class="table-responsive">
	<form id="personalFormUpdate">
		<table class="table table-hover">
			<input type="hidden" name="admin_id" value="{$admin['admin_id']}">
			<tr>
				<th>名称:</th>
				<td><input type="text" name="admin_name" value="{$admin['admin_name']}" class="form-control"></td>
			</tr>
			<tr>
				<td colspan="2" class="button-center">
					<input type="submit" value="修改" class="btn btn-primary btn-lg">
				</td>
			</tr>
		</table>
	</form>
				</div>
			</div>
		</div>
	</div>

<include file='Public/righter-foot' />